p {
    font-size: x-large;
}

h1 {
    background-color: beige;
}

.professor{
    color: brown;
    text-shadow: 2ex;
}

#curso {
    text-align: center;
}

.imagem-java {
    width: 400px;
    height: 300px;
    border-radius: 50px;
}